[submodule ".config/.oh-my-zsh/plugins/git-open"]
	path = .config/.oh-my-zsh/plugins/git-open
	url = https://github.com/paulirish/git-open
[submodule ".config/.oh-my-zsh/plugins/zsh-archlinux"]
	path = .config/.oh-my-zsh/plugins/zsh-archlinux
	url = https://github.com/JohnnyUrosevic/zsh-archlinux
[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/JohnnyUrosevic/neovim
